{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Web App</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static "style/main.css"%}">


<body id="bg" style="background-image: url('{% static "images/background2.jpg"%}');">

<h1>Python 101</h1>


   <div class="row">
      <div class="column">
        <img src= {% static "images/black_background.jpg"%} alt="black" style="width:60%" class="pictureone">
       
        <div class="textone">
          <a href="{% url 'lesson1'%}">Lesson 1</a>
            
        </div>
       <pre class= "paragraphone">Lesson one is about 
            learning to program hello word
        </pre>
      </div>




      <div class="column">
        <img src= {% static "images/black_background.jpg"%} alt="black" style="width:60%" class="picturetwo">
      </div>



      <div class= "column">
        <img src= {% static "images/black_background.jpg"%} alt="black" style="width:60%" class="picturethree">
       </div>
   </div>
</body>
</html>