{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="bg" style="background-image: url('{% static "images/background2.jpg"%}');">
    <h1>Further Functions and AJAX</h1>
    <p> An Immediately Invoked Function Expression– or IIFE – (pronounced 'iffy') is an anonymous function that, 
    as the name suggests, is invoked as soon as it’s defined. This term is mentioned throughout the chapter a lot so 
    I decided to include the books definition. It can be used to set up code that won't be used or change again to save time.
    Chapters dives into a lot of fuctions and expands on how they work and different ways to write them depending on what you want to accomplish.
    </p>
    <p>
    From the Book: "Ajax is a technique that allows web pages to communicate asynchronously with a server, and it dynamically updates web pages without reloading."
    In 1999 Microsoft implemented from what I understood a method for data to be sent in the background using Javascript
    and then in 2005 Jesse James Garrett renamed it AJAX. This programs allow data to be sent in an Asynchronous way which means 
    it doesn't have to stop to wait for the response.
    </p>
</body>
</html>