h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
      display: inline-block;
      margin-left: 3px;
      width: 32%;
    }
    
    /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  
    .titleone, .titletwo, .title3 {
      font-size: 40px;
  
  
    }
  
    .textone {
      position: absolute;
      top: 730px;
      left: 115px;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .paragraphone {
      position: absolute;
      top: 270px;
      left: 90px;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
    }
  
    .texttwo {
      position: absolute;
      top: 730px;
      left: 582px;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .paragraphtwo {
      position: absolute;
      top: 270px;
      left: 560px;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
    }
  
    .text3 {
      position: absolute;
      top: 730px;
      right: 110px;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .paragraph3 {
      position: absolute;
      top: 270px;
      right: 90px;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
    }
  
    .pictureone {
        margin-top: 20%;
        margin-left: 70px;
    }
  
    .picturetwo {
      margin-left: 103px;
    }
  
    .picturethree {
      margin-left: 140px;
    }
  
    #bg {
  
      background-repeat: repeat;
      background-attachment: fixed;
      background-size: cover;
  
  }
  
    
  
  