{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Lesson 3, Boolean statements and Expressions!</title>
</head>
<script src="{% static 'JS/quiz3.js' %}"></script>
<body  id="bg" style="background-image: url('{% static "images/background2.jpg"%}');">
<style>
.body3 {
    font-size: 15px;
    font-weight: bold;
    color: pink;
}
</style>
<dive class = "body3">
    <h1>Boolean Statements</h1>
    <p>The Python type for storing true and false values is called bool, named after the British mathematician, George Boole. George Boole created Boolean Algebra, which is the basis of all modern computer arithmetic.
    There are only two boolean values. They are True and False. Capitalization is important, since true and false are not boolean values (Python is case sensitive).
    </p>
    <h2>Boolean Expressions</h2>
    <p>
    A boolean expression is an expression that evaluates to a boolean value. The equality operator, ==, compares two values and produces a boolean value related to whether the two values are equal to one another.
    The == operator is one of six common comparison operators; the others are:
    <br>x != y               # x is not equal to y
    <br>x > y                # x is greater than y
    <br>x < y                # x is less than y
    <br>x >= y               # x is greater than or equal to y
    <br>x <= y               # x is less than or equal to y

    You may be familiar with theses symbols. However, the Python symbols are different from the mathematical symbols. A common error is to use a single equal sign (=) instead of a double equal sign (==). Remember that = is an assignment operator and == is a comparison operator. Also, there is no such thing as =< or =>.

    Note too that an equality test is symmetric, but assignment is not. For example, if a == 7 then 7 == a. But in Python, the statement a = 7 is legal and 7 = a is not.
    </p>
    <h2 id="test_status"></h2>
    <div id="test"></div>
</div>
<style>
.back {
    font-size: 40px;
    color: pink;
}
</style>
<div class="back">
    <a href="{% url 'home-page'%}" class= "back">Back</a>
            
</div>
</body>
</html>